flex-item-left,h2
{
  color: white;
  text-align: center;
}

flex-item-right,h2
{
  color: white;
  text-align: center;
}
.flex-container {
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 40px;
  }

.flex-item-left {
     background-color: black;
    padding: 8px;
    flex: 30%;
    display: inline-grid;
    border-right: solid 1px #21050f;
    align-content: space-evenly;
    justify-content: center;
    }

.flex-item-right {
  background-color: black;
  padding: 20px;
  flex: 70%;
}

@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
    align-items: center;
    justify-content: center;
  }
  .flex-container
  {
    display: inline-grid;
    float: left;

  }
}