body
{
	margin:0px;
	padding: 0px;
	background-color: black;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.header
{
	background-color:#21050f;
	padding: 20px;
	color: white;
	
}
.header img
{
	border-radius: 50px;
    width: 80px;
    height: 80px;
    float: left;
}

.navbar ul {
  list-style-type: none;
  overflow: hidden;
  background-color:#63555a;
  margin:0px;

}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

/*.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  padding: 10px;
  width: 100%;
  height:400px; 
  background-color:black;
  color: white;
}

/* Left and right column */
/*.column.side
{
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
    background-color:#21050f;
}

/* Middle column */
/*.column.middle 
{
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}*/



.footer {
	position: fixed;
   left: 0;
   bottom: 0;
   right: 0;
  background-color:black;
  padding: 10px;
  text-align: center;
  color: white;
}

.iframe
{
	display: flex;
    align-items: center;
    justify-content: center;
}

/*@media (max-width: 600px) {
  .row
{
  display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}*/

.wrapper-left,h2
{
  color: white;
  text-align: center;
}
.wrapper-center,h2
{
  color: white;
  text-align: center;
}

.wrapper-right,h2
{
  color: white;
  text-align: center;
}
.flex-wrapper {
    display: inline-flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 40px;
  }

.wrapper-left {
     background-color: black;
    flex: 30%;
    border-right: solid 1px #21050f;
    align-content: space-evenly;
    justify-content: center;
    }

.wrapper-right {
  background-color: black;
  padding: 20px;
  flex: 30%;
}
.wrapper-center {
  background-color: black;
  padding: 20px;
  flex: 30%;
  border-right: solid 1px #21050f;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .wrapper-right, .wrapper-left,.wrapper-center {
    flex: 100%;
    align-items: center;
    justify-content: center;
  }
  .flex-wrapper
  {
    display: inline-grid;
    float: left;

  }
}